.page {
  min-height: 100vh;
  width: 100%;
  background-image: url("../../../public/bg-image.jpg");
  background-size: cover;
  background-position: center;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  color: white;
}

.header {
  padding: 1rem;
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
  height: 50px;
}

.title {
  font-size: 1.25rem;
  font-weight: 800;
  color: #fbbf24;
  margin-left: 0.25rem;
}

.form_wrapper {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.form_container {
  background-color: #313338;
  border-radius: 8px;
  max-width: 400px;
  width: 100%;
  padding: 2rem 1.5rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.heading {
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1.5rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.input_block {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #b5bac1;
  margin-bottom: 0.25rem;
}

.required {
  color: red;
}

.input {
  background-color: #1e1f22;
  border: none;
  border-radius: 5px;
  padding: 10px 12px;
  color: white;
  font-size: 0.875rem;
  outline: none;
}

.dob_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.75rem;
  margin-top: 0.5rem;
}

.date_error {
  color: hsl(359, calc((1, 1) * 82.6%), 59.4%);
  font-size: 0.8rem;
  margin-top: 0.75rem;
  display: none;
}

.button {
  background-color: #5865f2;
  color: white;
  font-weight: 600;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-top: 0.5rem;
  font-size: 0.95rem;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover:not(:disabled) {
  background-color: #4752c4;
}

.button:disabled {
  background-color: #4f545c;
  cursor: not-allowed;
  opacity: 0.7;
}

.otp_sent {
  color: #43b581;
  font-size: 0.875rem;
  text-align: center;
  margin-top: 0.75rem;
  animation: fadeIn 0.3s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.link {
  color: #b5bac1;
  font-size: 0.875rem;
  margin-top: 0.75rem;
  text-align: center;
}

.link_action {
  color: #00a8fc;
  margin-left: 4px;
  cursor: pointer;
  text-decoration: none;
}

.link_action:hover {
  text-decoration: underline;
}

/* OTP Modal */
.modal {
  background-color: #35353f;
  color: white;
  border-radius: 8px;
  /* padding-bottom: 2rem; */
}

.modal_content {
  padding: 2rem;
  text-align: center;
}

.modal_title {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.modal_message {
  font-size: 0.9rem;
  color: #b5bac1;
  margin-bottom: 1.5rem;
}

.plane_div {
  display: flex;
  justify-content: center;
}

.plane_img {
  margin-top: -3rem;
  width: 60px;
  height: auto;
}

.verify_button {
  display: flex;
  justify-content: center;
}

.verify_btn {
  background-color: #727ce8;
  border: none;
  color: white;
  width: 50%;
  height: 2.5rem;
  border-radius: 5px;
  font-weight: 600;
  font-size: 0.9rem;
  cursor: pointer;
  margin-top: 30px;
}

.verify_btn:hover {
  background-color: #5d67d8;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #303434;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #5c5d5b;
}

.password_wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.password_wrapper input {
  width: 100%;
  padding-right: 2.5rem;
}

.toggle_icon {
  position: absolute;
  right: 10px;
  cursor: pointer;
  user-select: none;
  font-size: 1rem;
  color: #b5bac1;
}

.toggle_icon:hover {
  color: white;
}

.close_btn {
  background-color: transparent;
  border: 1px solid #b5bac1;
  color: #b5bac1;
  height: 2.5rem;
  padding: 0 1.5rem;
  border-radius: 5px;
  font-weight: 500;
  font-size: 0.9rem;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 30px;
}

.close_btn:hover {
  background-color: #444;
  color: white;
  border-color: white;
}

.otpStyles{
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap:7px;
  justify-content: center;
  color: #43b581;
  animation: fadeIn 0.3s ease-in;
}

.otpExpired{
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
  animation: fadeIn 0.3s ease-in;
}
@media only screen and (max-width: 503px) {
  .form_container {
    height: 100vh;
    min-width: 100%;
  }

  .logo {
    display: flex;
  }

  .dob_grid {
    grid-template-columns: 1fr;
  }

  .verify_btn {
    width: 100%;
  }
}

.error_message {
  color: hsl(359, calc((1, 1) * 82.6%), 59.4%);
  font-size: 0.75rem;
  margin-top: 0.25rem;
}
