.page {
  min-height: 100vh;
  width: 100%;
  background-image: url("../../../public/bg-image.jpg");
  background-size: cover;
  background-position: center;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 1rem;
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
  height: 50px;
}

.title {
  font-size: 1.25rem;
  font-weight: 800;
  color: #fbbf24;
  margin-left: 0.25rem;
}

.form_wrapper {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.login_box {
  background-color: #313338;
  border-radius: 8px;
  width: 100%;
  max-width: 400px;
  padding: 2rem 1.5rem;
  color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.heading {
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
}

.subheading {
  text-align: center;
  font-size: 0.875rem;
  color: #b5bac1;
  margin-top: 0.25rem;
}

.form {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input_block {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #b5bac1;
  margin-bottom: 0.25rem;
}

.required {
  color: red;
}

.input {
  background-color: #1e1f22;
  border: none;
  border-radius: 5px;
  padding: 10px 12px;
  color: white;
  font-size: 0.875rem;
  outline: none;
}

.button {
  background-color: #5865f2;
  color: white;
  font-weight: 600;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-top: 0.5rem;
  font-size: 0.95rem;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  background-color: #4752c4;
}

.alert {
  color: #ff6666;
  font-size: 0.875rem;
  text-align: center;
}

.register {
  color: #b5bac1;
  font-size: 0.875rem;
  margin-top: 0.75rem;
  text-align: center;
}

.register_link {
  color: #00a8fc;
  margin-left: 4px;
  cursor: pointer;
}

.register_link:hover {
  text-decoration: underline;
}
